<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiTapNhomLapTrinhADR_NHD_Cosmetic"
        tools:targetApi="31">

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".page8_Trangchu_Nam" android:exported="true"/>
        <activity android:name=".hoso" android:exported="true"/>
        <activity android:name=".hotro" android:exported="true"/>
        <activity android:name=".setting" android:exported="true"/>
        <activity android:name=".DangNhap" android:exported="true"/>
        <activity android:name=".taotaikhoan" android:exported="true"/>
        <activity android:name=".Macode" android:exported="true"/>
        <activity android:name=".Taomatkhaumoi" android:exported="true"/>
        <activity android:name=".Quenmatkhau" android:exported="true"/>
        <activity android:name=".resestpasswordsuccess" android:exported="true"/>
        <activity android:name=".page20_donhangcuatoi" />
        <activity android:name=".menu" />
        <activity android:name=".tichdiem" />

        <activity android:name=".timkiem" />
        <activity android:name=".timkiemsanpham" />
        <activity android:name=".page16_giohangcuaban" />
        <activity android:name=".page17_thanhtoan1" />
        <activity android:name=".page22_chitietdonhang2"></activity>
        <activity android:name=".page21_chitietdonhang1"></activity>
        <activity android:name=".page23_chitietdonhang3"></activity>
        <activity android:name=".chitietsanpham"></activity>
        <activity android:name=".doidiemlayvoucher" />

        <activity android:name=".page18_thanhtoan2" />
        <activity android:name=".page19_thanhtoan3" />        <!-- Other activities -->
        <activity android:name=".page2_khamphangay" />
        <activity android:name=".page3_khamphangay" />
        <activity android:name=".page4_khamphangay" />
        <activity android:name=".page9_Trangchu_Nu" />
        <activity android:name=".page10_Trangchu" />
        <activity android:name=".page11_Trangchu" />
        <activity android:name=".page12_Trangchu" />
        <activity android:name=".theodoidonhang" />
    </application>

</manifest>
